<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>URL</key>
  <dict>
    <key>KissVideo</key>
    <dict>
      <key>Identifier</key>
      <string>com.plexapp.plugins.kissnetwork</string>
      <key>URLPatterns</key>
      <array>
        <string>^http://(?:www\.|m\.|)kiss(?:anime\.(?:com|me)/Anime/|asian\.(?:com|me)/Drama/|cartoon\.(?:com|me)/Cartoon/).+(?:\?id=\d+)$</string>
      </array>
    </dict>
    <key>KissManga</key>
    <dict>
      <key>Identifier</key>
      <string>com.plexapp.plugins.kissnetwork</string>
      <key>URLPatterns</key>
      <array>
        <string>^http://(?:www\.|m\.|)kissmanga\.(?:com|me)/Manga/.+(?:\?id=\d+)$</string>
      </array>
    </dict>
  </dict>
</dict>
</plist>
