<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>URL</key>
  <dict>
    <key>KissVideo</key>
    <dict>
      <key>Identifier</key>
      <string>com.plexapp.plugins.kissnetwork</string>
      <key>URLPatterns</key>
      <array>
        <string>^http://(?:www\.|)kissanime\.(?:[^/]+\/)?Anime/.+(?:\?id=\d+)$</string>
        <string>^http://(?:www\.|)kissasian\.(?:[^/]+\/)?Drama/.+(?:\?id=\d+)$</string>
        <string>^http://(?:www\.|)kisscartoon\.(?:[^/]+\/)?Cartoon/.+(?:\?id=\d+)$</string>
      </array>
      <key>TestURLs</key>
      <array>
        <string>http://kissanime.to/Anime/Naruto-Shippuuden/Episode-001?id=100311</string>
        <string>http://kissasian.com/Drama/Death-Note-2015/Episode-1?id=7780</string>
        <string>http://kisscartoon.me/Cartoon/Steven-Universe/Episode-000-Pilot?id=44288</string>
      </array>
    </dict>
    <key>KissManga</key>
    <dict>
      <key>Identifier</key>
      <string>com.plexapp.plugins.kissnetwork</string>
      <key>URLPatterns</key>
      <array>
        <string>^http://(?:www\.|)kissmanga\.(?:com|me|to)/Manga/.+(?:\?id=\d+)$</string>
      </array>
      <key>TestURLs</key>
      <array>
        <string>http://kissmanga.com/Manga/Naruto/001-007?id=80552</string>
      </array>
    </dict>
  </dict>
</dict>
</plist>
