<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>URL</key>
  <dict>
    <key>KissVideo</key>
    <dict>
      <key>Identifier</key>
      <string>com.plexapp.plugins.kissnetwork</string>
      <key>URLPatterns</key>
      <array>
        <string>^https?://(?:www\.)?kissanime\.\w+/Anime/.+(?:\?id=\d+)$</string>
        <string>^https?://(?:www\.)?kissasian\.\w+/Drama/.+(?:\?id=\d+)$</string>
        <string>^https?://(?:www\.)?ki(?:ss|m)cartoon\.\w+/Cartoon/.+(?:\?id=\d+)$</string>
      </array>
    </dict>
  </dict>
</dict>
</plist>
