<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>com.plexapp.plugins.kissnetwork</string>
  <key>CFBundleVersion</key>
  <string>1.0.4</string>
  <key>PlexPluginVersionUrl</key>
  <string>https://api.github.com/repos/Twoure/KissNetwork.bundle/releases/latest</string>
  <key>PlexClientPlatforms</key>
  <string>*</string>
  <key>PlexFrameworkVersion</key>
  <string>2</string>
  <key>PlexPluginConsoleLogging</key>
  <string>1</string>
  <key>PlexPluginDevMode</key>
  <string>1</string>
  <key>PlexPluginCodePolicy</key>
  <string>Elevated</string>
  <key>PlexMediaContainer</key>
  <array>
    <string>MP4</string>
  </array>
  <key>PlexVideoCodec</key>
  <array>
    <string>H.264</string>
  </array>
  <key>PlexAudioCodec</key>
  <array>
    <string>AAC</string>
  </array>
</dict>
</plist>
